.message-head-container {
    background-color: #84994F;

    max-width: 50%;
    padding: 6px;
    color: white;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: flex;
    justify-content: start;
    align-items: center;
}

.message-body-container {
    background-color: #BDE3C3;

    padding: 10px;
    color: black;
    word-wrap: break-word;
    font-size: 22px;
}


*, :after, :before {
    box-sizing: border-box;
}

body {
    background-color: rgba(0, 0, 0, 0);
    font-family: Calibri;
}

#alert-disconnected {
    position: fixed;
    width: 40px;
    height: 40px;
    left: calc(50% - 20px);
    bottom: 10px;
    border-radius: 50px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#alert-disconnected>span {
    font-size: 20px;
    margin-bottom: 5px;
    margin-left: 2px;
}

.message-emote-img {
    height: 25px;
    width: auto;
    vertical-align: middle;
    margin-left: 5px;
    margin-right: 5px;
}

.message-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
}

.message-head-badges-container {
    display: inline-flex;
    align-items: start;
    gap: 5px;
    margin-right: 5px;
}

.message-badge-img {
    height: 20px;
}

.message-head-name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.message-footer-container {
    text-align: end;
    position: relative;
    height: 0px;
    overflow: visible;
    top: -10px;
}

.platform-icon-img {
    width: 20px;
}

.message-header-platform-icon-container {
    display: none;
}

.message-outer-platform-icon-container {
    display: none;
}

