.message-outer-platform-icon-container {
    background-color: #FD3838;
    
    border-radius: 12px 0px 0px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    margin-right: 5px;
}

.message-container {
    background-color: white;

    display: inline-flex;
    align-items: stretch;
    justify-content: flex-start;
    margin-bottom: 10px;
    flex-direction: row;
    max-width: 100%;
    border-radius: 12px;
}

.message-head-container {
    color: black;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-right: 5px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-shrink: 0;
    max-width: 40vw;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 20px;
}

*, :after, :before {
    box-sizing: border-box;
}

body {
    background-color: rgba(0, 0, 0, 0);
    font-family: Calibri;
}

#alert-disconnected {
    position: fixed;
    width: 40px;
    height: 40px;
    left: calc(50% - 20px);
    bottom: 10px;
    border-radius: 50px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#alert-disconnected>span {
    font-size: 20px;
    margin-bottom: 5px;
    margin-left: 2px;
}

#messagesContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
}

.message-emote-img {
    height: 25px;
    width: auto;
    vertical-align: middle;
    margin-left: 5px;
    margin-right: 5px;
}

.message-head-container::after {
    content: ": ";
}

.message-body-container {
    color: black;
    word-wrap: break-word;
    font-size: 22px;
    line-height: 22px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 10px;
    overflow: hidden;
    font-weight: 500;
}

.message-head-badges-container {
    display: inline-flex;
    align-items: start;
    gap: 5px;
    margin-right: 5px;
}

.message-badge-img {
    height: 20px;
}

.message-head-name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.message-footer-container {
    display: none;
}

.badge-platform-icon-img {
    width: 20px;
}

.message-header-platform-icon-container {
    display: none;
}

.outer-platform-icon-img {
    width: 20px;
}
